body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border: 1px solid black;
    height: 300px;
    /*overflow: hidden;*/
}

img {
    transition: all 1s ease;
    transform-origin: right bottom;
}

img:hover {
    /*transform: rotate(180deg);*/
    /*transform: scale(1.2, 0.2);*/
    /*transform: scale(1.2);*/
    /*transform: translate(50px, 80px);*/
    /*transform: skew(0, 45deg);*/
    transform: rotate(90deg);
}