@import "styles.css";

h2 {
    color: green;
    font-size: 16px;
    background-origin: padding-box;
    
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: blueviolet;
    text-decoration: underline overline line-through; /*+none*/
    letter-spacing: 10px;
    word-spacing: 10px;
    line-height: 100px;
    text-transform: uppercase; /*+lowercase, capitalize, none*/
    text-align: center; /*+left, right*/
}

p {
    text-align: justify;
    text-indent: 50px;
}